led on off/flows.json
[{"id":"1de1e8b3.30d7d7","type":"tab","label":"led on off","disabled":false,"info":""},{"id":"93f69eed.73408","type":"ui_button","z":"1de1e8b3.30d7d7","name":"","group":"ec500d21.02ea3","order":2,"width":"0","height":"0","passthru":false,"label":"turn on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"led1","x":160,"y":120,"wires":[["746e9076.e6f6e"]]},{"id":"dcb59bb6.669ca8","type":"ui_button","z":"1de1e8b3.30d7d7","name":"","group":"ec500d21.02ea3","order":3,"width":"0","height":"0","passthru":false,"label":"turn off","tooltip":"","color":"","bgcolor":"#e15f97","icon":"","payload":"off","payloadType":"str","topic":"led1","x":125,"y":160,"wires":[["746e9076.e6f6e"]],"l":false},{"id":"746e9076.e6f6e","type":"mqtt out","z":"1de1e8b3.30d7d7","name":"","topic":"/ESP/LED","qos":"","retain":"","broker":"4b78c0f3.e3cc9","x":410,"y":220,"wires":[]},{"id":"acd57a08.6f75f8","type":"mqtt in","z":"1de1e8b3.30d7d7","name":"","topic":"/ESP/LED","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":570,"y":200,"wires":[["ebc5fc67.112ed","c45f297.9e689d8"]]},{"id":"ebc5fc67.112ed","type":"ui_text","z":"1de1e8b3.30d7d7","group":"ec500d21.02ea3","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":200,"wires":[]},{"id":"c45f297.9e689d8","type":"debug","z":"1de1e8b3.30d7d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":140,"wires":[]},{"id":"ec500d21.02ea3","type":"ui_group","name":"Default","tab":"eb7c6ff7.b7d01","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b78c0f3.e3cc9","type":"mqtt-broker","name":"localhost1","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eb7c6ff7.b7d01","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]