All/All.json
[{"id":"7c88678e.112ab8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d88daacc.8fdf78","type":"ui_button","z":"7c88678e.112ab8","name":"","group":"ec500d21.02ea3","order":2,"width":"0","height":"0","passthru":false,"label":"turn on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"led1","x":250,"y":100,"wires":[["a21c825d.b45a7"]]},{"id":"aa057324.2a0fb","type":"ui_button","z":"7c88678e.112ab8","name":"","group":"ec500d21.02ea3","order":3,"width":"0","height":"0","passthru":false,"label":"turn off","tooltip":"","color":"","bgcolor":"#e15f97","icon":"","payload":"off","payloadType":"str","topic":"led1","x":215,"y":140,"wires":[["a21c825d.b45a7"]],"l":false},{"id":"a21c825d.b45a7","type":"mqtt out","z":"7c88678e.112ab8","name":"","topic":"/ESP/LED","qos":"","retain":"","broker":"4b78c0f3.e3cc9","x":500,"y":200,"wires":[]},{"id":"b6ced5d3.1a2cc8","type":"mqtt in","z":"7c88678e.112ab8","name":"","topic":"/ESP/LED","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":660,"y":180,"wires":[["84cd09b7.ddccc8","4b20c680.38d598"]]},{"id":"c3a6f1b9.373b9","type":"ui_slider","z":"7c88678e.112ab8","name":"","label":"slider","tooltip":"","group":"9e7a6861.535278","order":7,"width":0,"height":0,"passthru":false,"outs":"all","topic":"led2","min":0,"max":"255","step":1,"x":230,"y":280,"wires":[["79599cf6.4f8934","528a9c25.9d7064"]]},{"id":"79599cf6.4f8934","type":"mqtt out","z":"7c88678e.112ab8","name":"","topic":"/ESP/LED2","qos":"","retain":"","broker":"4b78c0f3.e3cc9","x":510,"y":280,"wires":[]},{"id":"994873a0.c7bd3","type":"mqtt in","z":"7c88678e.112ab8","name":"","topic":"/ESP/LED2","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":670,"y":280,"wires":[[]]},{"id":"528a9c25.9d7064","type":"ui_gauge","z":"7c88678e.112ab8","name":"","group":"9e7a6861.535278","order":6,"width":0,"height":0,"gtype":"gage","title":"","label":"pwm","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":280,"wires":[]},{"id":"bc1074c4.8d2388","type":"mqtt in","z":"7c88678e.112ab8","name":"","topic":"room/temperature","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":370,"y":380,"wires":[["5fbcdeed.7c85b","24250b2c.1f3574"]]},{"id":"b22a237d.61aba","type":"mqtt in","z":"7c88678e.112ab8","name":"","topic":"room/fahrenheit","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":360,"y":420,"wires":[["dffcd24a.22ec8","583b255d.bec00c"]]},{"id":"75f960c5.c85cc","type":"mqtt in","z":"7c88678e.112ab8","name":"","topic":"room/humidity","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":350,"y":460,"wires":[["2f686f5f.20df6"]]},{"id":"5fbcdeed.7c85b","type":"ui_gauge","z":"7c88678e.112ab8","name":"","group":"1174f7b4.fbb738","order":6,"width":0,"height":0,"gtype":"donut","title":"","label":" Degrees Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":380,"wires":[]},{"id":"dffcd24a.22ec8","type":"ui_gauge","z":"7c88678e.112ab8","name":"","group":"5458f2cf.2e37dc","order":6,"width":0,"height":0,"gtype":"donut","title":"","label":"Degrees Fahrenheit","format":"{{value}}","min":0,"max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":420,"wires":[]},{"id":"2f686f5f.20df6","type":"ui_gauge","z":"7c88678e.112ab8","name":"","group":"15bd01a.c2fcafe","order":6,"width":0,"height":0,"gtype":"donut","title":"","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":460,"wires":[]},{"id":"84cd09b7.ddccc8","type":"ui_text","z":"7c88678e.112ab8","group":"ec500d21.02ea3","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":180,"wires":[]},{"id":"7fb5998e.6ef548","type":"ui_text_input","z":"7c88678e.112ab8","name":"","label":"","tooltip":"","group":"b78196a5.197268","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"30","topic":"OLED","x":320,"y":620,"wires":[["956a726a.8c5bf","8d649d20.8aa89","b4fc9886.bc6e48"]]},{"id":"956a726a.8c5bf","type":"mqtt out","z":"7c88678e.112ab8","name":"","topic":"OLED","qos":"","retain":"","broker":"4b78c0f3.e3cc9","x":510,"y":620,"wires":[]},{"id":"dc13714.c5d3f9","type":"mqtt in","z":"7c88678e.112ab8","name":"","topic":"OLED","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":330,"y":560,"wires":[["8d649d20.8aa89"]]},{"id":"8d649d20.8aa89","type":"debug","z":"7c88678e.112ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":560,"wires":[]},{"id":"7c8299a4.1e24e8","type":"mqtt in","z":"7c88678e.112ab8","name":"","topic":"BTN","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":310,"y":760,"wires":[["9ce8f22d.d17d2","53762863.50b088"]]},{"id":"9ce8f22d.d17d2","type":"debug","z":"7c88678e.112ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":800,"wires":[]},{"id":"53762863.50b088","type":"ui_text","z":"7c88678e.112ab8","group":"4f201d9c.a646b4","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":760,"wires":[]},{"id":"b4fc9886.bc6e48","type":"mqtt out","z":"7c88678e.112ab8","name":"","topic":"oled","qos":"","retain":"","broker":"4b78c0f3.e3cc9","x":510,"y":680,"wires":[]},{"id":"24250b2c.1f3574","type":"change","z":"7c88678e.112ab8","name":"","rules":[{"t":"set","p":"temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[["d69eb8ef.d94ae8"]]},{"id":"583b255d.bec00c","type":"change","z":"7c88678e.112ab8","name":"","rules":[{"t":"set","p":"hu","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":420,"wires":[[]]},{"id":"d69eb8ef.d94ae8","type":"debug","z":"7c88678e.112ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"4b20c680.38d598","type":"debug","z":"7c88678e.112ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":120,"wires":[]},{"id":"ec500d21.02ea3","type":"ui_group","name":"Default","tab":"eb7c6ff7.b7d01","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b78c0f3.e3cc9","type":"mqtt-broker","name":"localhost1","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e7a6861.535278","type":"ui_group","name":"slide","tab":"eb7c6ff7.b7d01","order":5,"disp":true,"width":"6","collapse":false},{"id":"1174f7b4.fbb738","type":"ui_group","name":"Temp C degree","tab":"eb7c6ff7.b7d01","order":2,"disp":true,"width":"6","collapse":false},{"id":"5458f2cf.2e37dc","type":"ui_group","name":"Temp F degree","tab":"eb7c6ff7.b7d01","order":3,"disp":true,"width":"6","collapse":false},{"id":"15bd01a.c2fcafe","type":"ui_group","name":"Humidity","tab":"eb7c6ff7.b7d01","order":4,"disp":true,"width":"6","collapse":false},{"id":"b78196a5.197268","type":"ui_group","name":"Text","tab":"eb7c6ff7.b7d01","order":6,"disp":true,"width":"6","collapse":false},{"id":"4f201d9c.a646b4","type":"ui_group","name":"BUTTON","tab":"eb7c6ff7.b7d01","order":7,"disp":true,"width":"6","collapse":false},{"id":"eb7c6ff7.b7d01","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]