covid send/covid.json
[{"id":"a07881ab.472fe","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"a2b4ae9a.a5d67","type":"http request","z":"a07881ab.472fe","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":300,"wires":[["351f0adc.0271f6","818448ed.1956d8"]]},{"id":"d44bed3f.15654","type":"debug","z":"a07881ab.472fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"351f0adc.0271f6","type":"json","z":"a07881ab.472fe","name":"","property":"payload","action":"","pretty":false,"x":510,"y":260,"wires":[[]]},{"id":"818448ed.1956d8","type":"tableify","z":"a07881ab.472fe","name":"","before":"","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":580,"y":300,"wires":[["d44bed3f.15654","348ad877.3a9d48"]]},{"id":"27c215fe.42f7fa","type":"http in","z":"a07881ab.472fe","name":"","url":"/covid","method":"get","upload":false,"swaggerDoc":"","x":160,"y":300,"wires":[["a2b4ae9a.a5d67"]]},{"id":"348ad877.3a9d48","type":"http response","z":"a07881ab.472fe","name":"","statusCode":"","headers":{},"x":870,"y":320,"wires":[]}]