covid send/covid line.json
[{"id":"93a8d196.62bd6","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"fa4caf97.12cd8","type":"inject","z":"93a8d196.62bd6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["fc4d3a42.928888"]]},{"id":"fc4d3a42.928888","type":"http request","z":"93a8d196.62bd6","name":"get","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":140,"wires":[["367cb0e7.3284b"]]},{"id":"d3f9d972.0a5168","type":"function","z":"93a8d196.62bd6","name":"line token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer hSq7MeGUnoZ0oP2bnMFrhUSQtnBuyrIQVubgyBdPQwn'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["3250c4ca.a6b26c"]]},{"id":"367cb0e7.3284b","type":"function","z":"93a8d196.62bd6","name":"chat","func":"var message = \"\\nอับเดทล่าสุด: \"+msg.payload.UpdateDate+\"\\n\";\nmessage += \"ผู้ติดเชื้อสะสม: \"+msg.payload.Confirmed+\" ( \"+msg.payload.NewConfirmed+\" )\\n\";\nmessage += \"หายแล้ว: \"+msg.payload.Recovered+\" ( \"+msg.payload.NewRecovered+\" )\\n\";\nmessage += \"รักษาอยู่: \"+msg.payload.Hospitalized+\" ( \"+msg.payload.NewHospitalized+\" )\\n\";\nmessage += \"เสียชีวิต: \"+msg.payload.Deaths+\" ( \"+msg.payload.NewDeaths+\" )\\n\";\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":140,"wires":[["d3f9d972.0a5168"]]},{"id":"3250c4ca.a6b26c","type":"http request","z":"93a8d196.62bd6","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":160,"wires":[[]]},{"id":"d1f2fee.15767","type":"inject","z":"93a8d196.62bd6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":260,"wires":[["eb182687.f6d6e8"]]},{"id":"eb182687.f6d6e8","type":"function","z":"93a8d196.62bd6","name":"","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer hSq7MeGUnoZ0oP2bnMFrhUSQtnBuyrIQVubgyBdPQwn'\n};\nmsg.payload = {\"message\":\"\\nTemp : \"+global.get(\"temp\")+\" *c\"+\"\\nHumidity = \"+global.get(\"hu\")+\"%\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["3250c4ca.a6b26c","92e992f4.f4f75"]]},{"id":"92e992f4.f4f75","type":"debug","z":"93a8d196.62bd6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":300,"wires":[]},{"id":"bada7020.29de","type":"function","z":"93a8d196.62bd6","name":"01","func":"\nmsg.payload = {\"Temp\":global.get(\"temp\"),\"Humidity\":global.get(\"hu\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":480,"wires":[["86797cc4.cefb5","ee4fca81.52a598"]]},{"id":"321c18c.90310e8","type":"http in","z":"93a8d196.62bd6","name":"","url":"/dht","method":"get","upload":false,"swaggerDoc":"","x":320,"y":480,"wires":[["bada7020.29de"]]},{"id":"86797cc4.cefb5","type":"http response","z":"93a8d196.62bd6","name":"","statusCode":"","headers":{},"x":710,"y":480,"wires":[]},{"id":"ea3d230f.a13d2","type":"inject","z":"93a8d196.62bd6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":420,"wires":[["bada7020.29de"]]},{"id":"ee4fca81.52a598","type":"debug","z":"93a8d196.62bd6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":400,"wires":[]}]