oled/Oled.json
[{"id":"378bc6d6.dab46a","type":"tab","label":"Oled","disabled":false,"info":""},{"id":"83487b65.c44f58","type":"ui_text_input","z":"378bc6d6.dab46a","name":"","label":"","tooltip":"","group":"b78196a5.197268","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"30","topic":"OLED","x":420,"y":180,"wires":[["d80ecb08.953228","6c3936cb.519768","8394e07e.059d4"]]},{"id":"d80ecb08.953228","type":"mqtt out","z":"378bc6d6.dab46a","name":"","topic":"OLED","qos":"","retain":"","broker":"4b78c0f3.e3cc9","x":610,"y":180,"wires":[]},{"id":"d1691114.8db0c","type":"mqtt in","z":"378bc6d6.dab46a","name":"","topic":"OLED","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":430,"y":120,"wires":[["6c3936cb.519768"]]},{"id":"6c3936cb.519768","type":"debug","z":"378bc6d6.dab46a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"8394e07e.059d4","type":"mqtt out","z":"378bc6d6.dab46a","name":"","topic":"oled","qos":"","retain":"","broker":"4b78c0f3.e3cc9","x":610,"y":240,"wires":[]},{"id":"b78196a5.197268","type":"ui_group","name":"Text","tab":"eb7c6ff7.b7d01","order":6,"disp":true,"width":"6","collapse":false},{"id":"4b78c0f3.e3cc9","type":"mqtt-broker","name":"localhost1","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eb7c6ff7.b7d01","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]