temp hum/temp_hum.json
[{"id":"b8b7c98e.512fe8","type":"tab","label":"tem_hu","disabled":false,"info":""},{"id":"360b7eeb.339f62","type":"mqtt in","z":"b8b7c98e.512fe8","name":"","topic":"room/temperature","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":290,"y":180,"wires":[["49ecc2a6.af142c","7cd7bb2d.8e1194"]]},{"id":"8e914128.c9e5d","type":"mqtt in","z":"b8b7c98e.512fe8","name":"","topic":"room/fahrenheit","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":280,"y":220,"wires":[["311221db.cdf3de","67475b82.390914"]]},{"id":"95810e5a.a15ad","type":"mqtt in","z":"b8b7c98e.512fe8","name":"","topic":"room/humidity","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":270,"y":260,"wires":[["db409b47.a147f8"]]},{"id":"49ecc2a6.af142c","type":"ui_gauge","z":"b8b7c98e.512fe8","name":"","group":"1174f7b4.fbb738","order":6,"width":0,"height":0,"gtype":"donut","title":"","label":" Degrees Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":180,"wires":[]},{"id":"311221db.cdf3de","type":"ui_gauge","z":"b8b7c98e.512fe8","name":"","group":"5458f2cf.2e37dc","order":6,"width":0,"height":0,"gtype":"donut","title":"","label":"Degrees Fahrenheit","format":"{{value}}","min":0,"max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":220,"wires":[]},{"id":"db409b47.a147f8","type":"ui_gauge","z":"b8b7c98e.512fe8","name":"","group":"15bd01a.c2fcafe","order":6,"width":0,"height":0,"gtype":"donut","title":"","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":260,"wires":[]},{"id":"7cd7bb2d.8e1194","type":"change","z":"b8b7c98e.512fe8","name":"","rules":[{"t":"set","p":"temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":140,"wires":[["f48445de.34ccf8"]]},{"id":"67475b82.390914","type":"change","z":"b8b7c98e.512fe8","name":"","rules":[{"t":"set","p":"hu","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":220,"wires":[[]]},{"id":"f48445de.34ccf8","type":"debug","z":"b8b7c98e.512fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":140,"wires":[]},{"id":"4b78c0f3.e3cc9","type":"mqtt-broker","name":"localhost1","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1174f7b4.fbb738","type":"ui_group","name":"Temp C degree","tab":"eb7c6ff7.b7d01","order":2,"disp":true,"width":"6","collapse":false},{"id":"5458f2cf.2e37dc","type":"ui_group","name":"Temp F degree","tab":"eb7c6ff7.b7d01","order":3,"disp":true,"width":"6","collapse":false},{"id":"15bd01a.c2fcafe","type":"ui_group","name":"Humidity","tab":"eb7c6ff7.b7d01","order":4,"disp":true,"width":"6","collapse":false},{"id":"eb7c6ff7.b7d01","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]