led slider btn/slider_btn.json
[{"id":"fd60db37.181b88","type":"tab","label":"led slider botton","disabled":false,"info":""},{"id":"fffe93ca.0a9ad","type":"ui_slider","z":"fd60db37.181b88","name":"","label":"slider","tooltip":"","group":"9e7a6861.535278","order":7,"width":0,"height":0,"passthru":false,"outs":"all","topic":"led2","min":0,"max":"255","step":1,"x":250,"y":140,"wires":[["3f39a95d.72cee6","98ab0156.f6a5c"]]},{"id":"3f39a95d.72cee6","type":"mqtt out","z":"fd60db37.181b88","name":"","topic":"/ESP/LED2","qos":"","retain":"","broker":"4b78c0f3.e3cc9","x":530,"y":140,"wires":[]},{"id":"cd51999.17b1a68","type":"mqtt in","z":"fd60db37.181b88","name":"","topic":"/ESP/LED2","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":690,"y":140,"wires":[[]]},{"id":"98ab0156.f6a5c","type":"ui_gauge","z":"fd60db37.181b88","name":"","group":"9e7a6861.535278","order":6,"width":0,"height":0,"gtype":"gage","title":"","label":"pwm","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":140,"wires":[]},{"id":"7235c0ef.aea8f","type":"mqtt in","z":"fd60db37.181b88","name":"","topic":"BTN","qos":"2","datatype":"auto","broker":"4b78c0f3.e3cc9","x":250,"y":220,"wires":[["a5dadcb.c30fb2","b34cf996.960408"]]},{"id":"a5dadcb.c30fb2","type":"debug","z":"fd60db37.181b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"b34cf996.960408","type":"ui_text","z":"fd60db37.181b88","group":"4f201d9c.a646b4","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":220,"wires":[]},{"id":"9e7a6861.535278","type":"ui_group","name":"slide","tab":"eb7c6ff7.b7d01","order":5,"disp":true,"width":"6","collapse":false},{"id":"4b78c0f3.e3cc9","type":"mqtt-broker","name":"localhost1","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f201d9c.a646b4","type":"ui_group","name":"BUTTON","tab":"eb7c6ff7.b7d01","order":7,"disp":true,"width":"6","collapse":false},{"id":"eb7c6ff7.b7d01","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]